$normal-desktop-breakpoint: 1440px;
$small-desktop-breakpoint: 1290px;
$small-desktop-breakpoint1150: 1150px;
$small-desktop-breakpoint1080: 1080px;
$small-desktop-breakpoint1024: 1023px;
$mobile-menu-breakpoint: 992px;
$mobile-menu-breakpoint768: 767px;
$mobile-menu-breakpoint668: 668px;
$mobile-menu-breakpoint552: 552px;
$mobile-menu-breakpoint400: 400px;

$Moderat: 'Moderat';

$primary: #FCE000;
$orange: #FCE000;
$white: #fff;
$black: #000;
$dark: #262724;  